
<p>
  <strong>Fech ing:</strong>
  <%= @earn.fech_ing %>
</p>

<p>
  <strong>Fech egr:</strong>
  <%= @earn.fech_egr %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @earn.valor %>
</p>

<%= link_to 'Volver a Ganancias calculadas', earns_path, :class => "btn btn-success" %>
