<% if user_signed_in? %>
<%- model_class = Payment -%>
<body class="payment-new">

<div class="col-lg-4 col-lg-offset-3">
  <h1><span class="label label-default"> Ser premium es lo más!</span></h1>
</div>
<div style="padding:30px"></div>
<%= render :partial => 'form' %>

</body>
<%else%>
  <script type="text/javascript">
    window.location.href="/users/sign_in"  // put your correct path in a string here
  </script>
<% end %>
